# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common used libraries for Data Science
- List popular Data Science Tools
- Present arithmetic examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. C++

Exercice 5: Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Keras
6. ggplot2

Exercice 6:

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Apache Zeppelin|
|Rstudio|
|Spyder|

Exercice 7:

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# Exercice 8:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# Exercice 9: This will convert 200 minutes to hours by diving by 60
minutes=200
total_hours=minutes/60
print(total_hours)

3.3333333333333335

## Authors:
Fabrice Kellerhals